.wrapper {
    width: 960px;
    margin: 0 auto;
}

.header {
    z-index: 1;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    height: 48px;
    background-color: #012241;
    border-bottom: 4px solid #001426;
}

.header a {
    text-decoration: none;
    color: #FFFFFF;
    line-height: 48px;
}

.header-logo {
    font-family: "Oleo Script";
    font-size: 26px;
}

.header-links {
    float: right;
}

.header-links a {
    display: block;
    float: left;
    height: 48px;
    padding: 0 15px;
    font-weight: bold;
    font-size: 15px;
    border-left: 1px solid #001426;
}

.header-links a:hover {
    background-color: rgba(0, 0, 0, 0.2);
}

.header-links a:active {
    background-color: rgba(0, 0, 0, 0.4);
}

.header-links a:last-of-type {
    border-right: 1px solid #001426;
}

.content {
    height: 100%;
    padding-top: 52px;
    position: relative;
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
}

.scroller {
    position: relative;
    height: 100%;
    overflow-y: auto;
}

.content .wrapper {
    min-height: 100%;
    margin-top: -52px;
    padding-top: 52px;
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
}

.content .footer {
    height: 48px;
    margin-top: -48px;
    padding-bottom: 48px;
}
