html, body {
    height: 100%;
}

body {
    font-family: "Open Sans";
    color: #333333;
}

a {
    color: #43A5A4;
    text-decoration: none;
}

.pull-left {
    float: left;
}

.accent {
    color: #43A5A4;
}
