<!DOCTYPE html>

<html>
    <head>
        <title><%= title ? title + " - " : "" %>Issues</title>

        <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,600|Oleo+Script' rel='stylesheet' type='text/css'>

        <link rel="stylesheet" href="/stylesheets/normalize.css" />
        <link rel="stylesheet" href="/stylesheets/screen.css" />
        <link rel="stylesheet" href="/stylesheets/layout.css" />
        <link rel="stylesheet" href="/stylesheets/controls.css" />
        <link rel="stylesheet" href="/stylesheets/classes.css" />
    </head>

    <body>
        <header class="header">
            <div class="wrapper">
                <a class="header-logo" href="/">Issues</a>

                <div class="header-links">
                    <a href="/projects">Projects</a>
                    <a href="/logout"  >Log Out </a>
                </div>
            </div>
        </header>

        <div class="content">
            <div class="scroller">
                <div class="wrapper">
